.fp-tableCell{
	vertical-align: inherit;
}

.chichico{
  background: url(../images/chichico.jpg) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:300px;
  width:100%;
}

.allh{
	height:100%;
}

.mh{
	height:50%;
}