.fp-tableCell{
	vertical-align: inherit;
}

.iScrollVerticalScrollbar{
  position:relative !important;
}

[class*="col"]{
padding:0;
}

.chichico{
  background: url(../images/chichico.jpg) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height:540px;
  height:auto;
  width:100%;
}

.chichico a{
  color:whitesmoke;
}

.v-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-transparent {
  background: transparent;
}
.modal-transparent .modal-content {
  background: transparent;
  color: white;
}
.modal-backdrop.modal-backdrop-transparent {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-transparent.in {
  opacity: .3;;
  filter: alpha(opacity=90);
}

a[data-toggle="modal"]{
	  background: transparent;
    border: transparent;
    width: auto;
    height: auto;
}

a:active, a:focus, a:target{
  border:none;
}

.close{
	    opacity: .5;
	    color:white;
}

.title-chart{
  font-weight:bold;
  margin-top:20px;
}
.panel-body{
  padding-top:0px;
}
@media only screen and (max-width: 767px) {
    .title-chart{
      font-size: 1rem;
      font-weight:bold;
      margin-bottom:0px;
    }
}