.fp-tableCell{
	vertical-align: inherit;
}

.iScrollVerticalScrollbar{
  position:relative !important;
}

.chichico{
  background: url(../images/chichico.jpg) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:326px;
  width:100%;
}

.chichico button{
  color:whitesmoke;
}
.v-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-transparent {
  background: transparent;
}
.modal-transparent .modal-content {
  background: transparent;
  color: white;
}
.modal-backdrop.modal-backdrop-transparent {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-transparent.in {
  opacity: .3;;
  filter: alpha(opacity=90);
}

button[data-toggle="modal"]{
	background: transparent;
    border: none;
}
.close{
	    opacity: .5;
	    color:white;
}

[class*="col"]{
padding:0;
}